include base

doctype html
html
    //- Head
    head
        // Meta
        meta(http-equiv='X-UA-Compatible', content='text/html', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content='Game in the form of a web application commissioned by Maris college. ')
        meta(name='keywords', content='Maris Game')
        meta(name='author', content='Tim Vis&eacute;e')
        link(rel='copyright', href='/about')
        meta(name='theme-color', content='#9C27B0')
        meta(name='application-name', content='Maris Game')
        meta(name='msapplication-TileColor', content='#9C27B0')
        meta(name='msapplication-config', content='/public/img/favicon/browserconfig.xml')
        meta(property='og:title', content='Maris Game')
        meta(property='og:image', content='/public/img/favicon/favicon-194x194.png')
        meta(property='og:description', content='Maris Game by Tim Vis&eacute;e')
        meta(name='twitter:card', content='summary')
        meta(name='twitter:title', content='Maris Game')
        meta(name='twitter:image', content='/public/img/favicon/apple-touch-icon-120x120.png.png')
        meta(name='twitter:description', content='Maris Game by Tim Vis&eacute;e')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')

        // Favicon
        //- Only send favicon resources for devices that need it, to prevent excess resource loading
        link(rel='apple-touch-icon', sizes='57x57', href='/public/img/favicon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/public/img/favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/public/img/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/public/img/favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/public/img/favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/public/img/favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/public/img/favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/public/img/favicon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/public/img/favicon/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', href='/public/img/favicon/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='/public/img/favicon/favicon-194x194.png', sizes='194x194')
        link(rel='icon', type='image/png', href='/public/img/favicon/favicon-96x96.png', sizes='96x96')
        link(rel='icon', type='image/png', href='/public/img/favicon/android-chrome-192x192.png', sizes='192x192')
        link(rel='icon', type='image/png', href='/public/img/favicon/favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='/public/img/favicon/manifest.json')
        link(rel='shortcut icon', href='/public/img/favicon/favicon.ico')
        meta(name='apple-mobile-web-app-title', content='Maris Game')
        meta(name='msapplication-TileImage', content='/public/img/favicon/mstile-144x144.png')

        //- Page title
        title= title

        // Styles
        link(rel='stylesheet', href='/public/vendor/jquerymobile/jquery.mobile.min.css')
        link(rel='stylesheet', href='/public/vendor/leaflet/leaflet.css')
        link(rel='stylesheet', href='/public/vendor/leaflet.easybutton/easy-button.css')
        link(rel='stylesheet', href='/public/vendor/waves/waves.min.css')
        link(rel='stylesheet', href='/public/vendor/wow/animate.css')
        link(rel='stylesheet', href='/public/vendor/material-color/material;-design-color-palette.min.css')
        link(rel='stylesheet', href='/public/vendor/font-awesome/font-awesome.min.css')
        link(rel='stylesheet', href='/public/css/nativedroid2.css')
        link(rel='stylesheet', href='/public/css/nativedroid2.color.purple.css')

        link(rel='stylesheet', href='/public/css/style.css')
        //-script(type='text/javascript', src='/js/jquery.mobile.settings.js')

        // Scripts
        script(type='text/javascript', src='/public/vendor/jquery/jquery.min.js')
        script(type='text/javascript', src='/public/vendor/jquery-ui/jquery-ui.min.js')
        script(type='text/javascript', src='/public/vendor/jquerymobile/jquery.mobile.min.js')
        script(type='text/javascript', src='/public/vendor/leaflet/leaflet.min.js')
        script(type='text/javascript', src='/public/vendor/leaflet.sprite/leaflet.sprite.js')
        script(type='text/javascript', src='/public/vendor/leaflet.easybutton/easy-button.js')
        script(type='text/javascript', src='/public/vendor/raven/raven.min.js')
        script(type='text/javascript', src='/public/vendor/highcharts/highcharts.min.js')
        script(type='text/javascript', src='/public/vendor/waves/waves.min.js')
        script(type='text/javascript', src='/public/vendor/wow/wow.min.js')
        script(type='text/javascript', src='/realtime/socket.io.js')
        script(type='text/javascript', src='/public/js/nativedroid.custom.js')
        script(type='text/javascript', src='/public/js/main.js')

    //- Body
    body
        block page