extends page

block tabs
    ul(data-role='nd2tabs' data-swipe=true)
        - var fadeDelay = 0;
        li.wow.fadeInUp(data-tab='dashboard', data-wow-delay=(fadeDelay += 0.1) + 's') Dashboard
        li.wow.fadeInUp(data-tab='games', data-wow-delay=(fadeDelay += 0.1) + 's') Spellen

block content
    div(data-role='nd2tab', data-tab='dashboard')
        p Welkom #{session.user.name}!

        p.
            Je gebruikt een vroeg prototype van #{app.name}, en dit product is voorlopig nog niet klaar.<br>
            <br>
            #{app.name} is op dit moment in de pre-alpha staat en bevat waarschijnlijk nog bugs, glitches en andere ongewilde praktijken.

        .button-list
            a.ui-btn(href='https://github.com/timvisee/maris-game', title='Support on GitHub') View on GitHub
            a.ui-btn(href='/about', title='About') About
            a.ui-btn.clr-warning(href='/logout', title='Logout') Logout

    div(data-role='nd2tab', data-tab='games')
        p.
            Show the games list here!
