extends page

block content
    //- Page not found error
    if statusCode == 404
        p.
            De pagina die u probeert te bezoeken bestaat niet.#[br]
            #[br]
            Ga alstublieft terug naar de vorige pagina en probeer het opnieuw.

        br
        a.ui-btn.ui-btn-raised.clr-primary(href='/', data-rel='back', data-direction='reverse', title='Ga terug') Ga terug

    else
        //- Print the error message
        p: +format(message)

        br
        .button-list
            //- Show the login button if specified
            if showLoginButton
                a.ui-btn.ui-btn-raised.clr-primary(href='/login', title='Ga naar de inlog pagina') Inloggen

            //- Show the back button
            unless hideBackButton
                //- a.ui-btn.clr-primary(href='/', data-rel='back', data-direction='reverse', title='Ga terug')
                //-     i.zmdi.zmdi-arrow-back.ui-pull-left
                //-     |  Ga terug
                a.ui-btn.ui-btn-raised.clr-primary(href='/', data-rel='back', data-direction='reverse', title='Ga terug') Ga terug

    //- Show a stack trace if given
    if showStacktrace
        br
        br
        br
        hr
        pre.
            Information for developers.

            Error: #{stacktrace.message}
            Status: #{stacktrace.status}
            Stacktrace:

            #{stacktrace.stack}