extends page

block content
    p.
        Je hebt succesvol een aanvraag gestuurd om deel te nemen aan dit spel.#[br]
        Een docent moet je aanvraag accepteren voordat je mee kunt doen.#[br]
        #[br]
        Klik op de onderstaande knop om terug te gaan naar het speloverzicht.
    br
    a.ui-btn.ui-btn-raised.clr-primary(href=page.url + '/..', title='Ga terug naar het speloverzicht', data-ajax='false') Speloverzicht
