extends page

block content
    ul(data-role='listview')
        - var fadeDelay = -0.1;

        li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Punten

        if game.points.length > 0
            each point in game.points
                li: a.wow.fadeInUp(href=page.url + '/' + point.id, data-wow-delay=(fadeDelay += 0.1) + 's')= point.name
        else
            li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's'): i Geen punten beschikbaar...

        br
        .button-list
            a.ui-btn.wow.fadeInUp(href=page.url + '/../point/create', data-wow-delay=(fadeDelay += 0.1) + 's', title='Nieuw punt aanmaken') Punt aanmaken
