extends page

block content
    unless created
        p.
            Vul de naam en bedrijving voor de vraag in, configureer welke antwoord mogelijkheden een gebruiker krijgt.
        br

        form(method='POST', action=page.url + '/#')
            label(for='field-assignment-name') Naam:
            input(type='text', name='field-assignment-name', id='field-assignment-name', value='', data-clear-btn='true', data-randomize='true')
            label(for='field-assignment-description') Beschrijving:
            textarea(name='field-assignment-description', id='field-assignment-description', value='', data-clear-btn='true', data-randomize='true')

            br
            .row
                .col-xs: .box
                    label(for='field-assignment-answer-text') Tekst antwoord:
                    select(name='field-assignment-answer-text', id='field-assignment-answer-text', data-role='flipswitch')
                        option(value='false') NEE
                        option(value='true', selected='selected') JA

                .col-xs: .box
                    label(for='field-assignment-answer-file') Bestand antwoord:
                    select(name='field-assignment-answer-file', id='field-assignment-answer-file', data-role='flipswitch')
                        option(value='false', selected='selected') NEE
                        option(value='true') JA

            label(for='field-assignment-retry') Meerdere pogingen:
            select(name='field-assignment-retry', id='field-assignment-retry', data-role='flipswitch')
                option(value='false') NEE
                option(value='true', selected='selected') JA

            br
            br
            button.ui-btn.ui-btn-raised.clr-primary(type='submit', data-ajax='false') Opdracht aanmaken

    else
        p De opdracht is succesvol aangemaakt.

        div(align="center")
            table.table-list.ui-responsive
                tr: td Opdracht
                    td= assignment.name
                tr: td Beschrijving
                    td= assignment.description

        p Klik op de onderstaande knop om terug te gaan naar het opdrachtenoverzicht.

        br
        .button-list
            a.ui-btn.ui-btn-raised.clr-primary(href='/game/' + game.id + '/assignments', title='Opdrachtenoverzicht', data-ajax='false') Opdrachtenoverzicht
            a.ui-btn(href='/game/' + game.id + '/assignment/' + assignment.id, title='Opdracht bekijken', data-ajax='false') Opdracht bekijken
