extends base/page

block content
    div(align='center')
        img(src='/public/img/logobohemen.jpg')
        p Welkom bij #{app.name}.

    - var nextParam = next !== undefined ? '?next=' + next : '';

    br
    .button-list
        a.ui-btn.ui-btn-raised.clr-primary(href='/login' + nextParam, title='Login') Inloggen
        a.ui-btn.ui-btn-raised.clr-primary(href='/register' + nextParam, title='Register') Registreren