extends page

block content
    p Vul uw gebruikersnaam en wachtwoord in om in te loggen.

    br

    - var nextParam = next !== undefined ? '?next=' + next : '';

    form#form-login(method='POST', action='/login/' + nextParam + '#')

        label(for='field-username') Gebruikersnaam:
        input(type='text', name='field-username', id='field-username', value='', data-clear-btn='true')

        label(for='field-password') Wachtwoord:
        input(type='password', name='field-password', id='field-password', value='', data-clear-btn='true')

        br
        .button-list
            button.ui-btn.ui-btn-raised.clr-primary(type='submit') Inloggen
            a.ui-btn(href='/register' + nextParam, title='Register') Heeft u geen account?