extends base/page

block content
    p.
        Je moet ingelogd zijn om deze pagina te kunnen bekijken.#[br]
        #[br]
        Log alstublieft in, registreer een account of ga naar de hoofdpagin.

    - var nextParam = next !== undefined ? '?next=' + next : '';

    br
    .button-list
        a.ui-btn.ui-btn-raised.clr-primary(href='/login' + nextParam, title='Bezoek de inlog pagin') Inloggen
        a.ui-btn.ui-btn-raised.clr-primary(href='/register' + nextParam, title='Bezoek de registratie pagina') Registreren
        a.ui-btn(href='/' + nextParam, title='Bezoek de hoofdpagina') Hoofdpagina