extends ../base/page

block content
    p.
        Je hebt geen rechten om deze pagina te bekijken.#[br]
        #[br]
        Ga alstublieft terug naar de vorige pagina en probeer het opnieuw.

    br
    a.ui-btn.ui-btn-raised.clr-primary(href='/', data-rel='back', data-direction='reverse', title='Ga terug')
        i.zmdi.zmdi-arrow-back.ui-pull-left
        | &nbsp;&nbsp;Ga terug
