// List of assignments
ul(data-role='listview').game-assignments-list
    // Section for when assignments are available
    li.wow.fadeInUp.game-assignments-group-available(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Beschikbaar
    li: a.wow.fadeInUp(href='/games/open', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Beschikbare opdracht 1
        span.ui-li-count 3
    li: a.wow.fadeInUp(href='/games/open', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Beschikbare opdracht 2
        span.ui-li-count 1

    // Label for assignments that are pending
    if submissions.pending.length > 0
        li.wow.fadeInUp.game-assignments-group-pending(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') In afwachting
        each submission in submissions.pending
            li: a.wow.fadeInUp(href='/game/' + game.id + '/submission/' + submission.id, data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's')= submission.name
                span.ui-li-count= submission.points + '?'

    // Label for assignments that are rated
    if submissions.rated.length > 0
        li.wow.fadeInUp.game-assignments-rated(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Beoordeeld
        each submission in submissions.rated
            li: a.wow.fadeInUp(href='/game/' + game.id + '/submission/' + submission.id, data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's')= submission.name
                if submission.approve_state == 1
                    span.ui-li-count(style='color: green;')= submission.points
                else if submission.approve_state == 2
                    span.ui-li-count(style='color: green;')= submission.points
                else
                    span.ui-li-count= submission.points

// Label for when there are no assignments
div.game-assignments-none(align='center')
    p.game-data-load-label: i.
        Geen opdrachten beschikbaar...#[br]
        #[br]
        Loop naar een punt op de kaart,#[br]
        om opdrachten uit te kunnen voeren.
